@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  background-color: #fff9f3;
}

/* Modal Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 2rem;
  max-width: 90%;
  width: 600px;
  z-index: 1001;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}


.film-container {
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  transform: translateY(100px);
}

.film-container.in-view {
  opacity: 1;
  transform: translateY(0);
}


/* Custom Swiper Arrow Styles */
.swiper-button-prev, .swiper-button-next {
  color: #f2ba20;
}

.swiper-button-prev ion-icon, .swiper-button-next ion-icon {
  font-size: 24px; /* Adjust size if needed */
  color: #f2ba20;
}

/* Custom Swiper Pagination Dots Styles */
.swiper-pagination-bullet {
  background-color: #f2ba20 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f2ba20 !important;
}


@font-face {  
  font-family: 'Times New Roman';
  src: url('./assets/fonts/times-new-roman.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Bold';
  src: url('./assets/fonts/times-new-roman-bold.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Italic';
  src: url('./assets/fonts/times-new-roman-italic.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Bold Italic';
  src: url('./assets/fonts/times-new-roman-bold-italic.ttf') format('truetype');
  /* Add other font formats if available */
}

.timesNew {
  font-family: 'Times New Roman', serif;
}
/* Container */
.timesNew-bold {
  font-family: 'Times New Roman Bold', serif;
}

.timesNew-italic {
  font-family: 'Times New Roman Italic', serif;
  font-style: italic;
}

.timesNew-bold-italic {
  font-family: 'Times New Roman Bold Italic', serif;
  font-style: italic;
}

.txtshd {
  text-shadow:
   -1px -1px 0 #00000035,  
    1px -1px 0 #00000035,
    -1px 1px 0 #00000035,
     1px 1px 0 #00000035;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.oswald-200 {
  font-weight: 200;
}
.oswald-300 {
  font-weight: 300;
}
.oswald-400 {
  font-weight: 400;
}
.oswald-500 {
  font-weight: 500;
}
.oswald-600 {
  font-weight: 600;
}
.oswald-700 {
  font-weight: 700;
}

.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.garamond-400 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.garamond-500 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.garamond-600 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.garamond-700 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.garamond-800 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-font-100 {
  font-weight: 100;
}

.inter-font-200 {
  font-weight: 200;
}

.inter-font-300 {
  font-weight: 300;
}

.inter-font-400 {
  font-weight: 400;
}

.inter-font-500 {
  font-weight: 500;
}

.inter-font-600 {
  font-weight: 600;
}

.inter-font-700 {
  font-weight: 700;
}

.inter-font-800 {
  font-weight: 800;
}

.inter-font-900 {
  font-weight: 900;
}
