@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: white;
}

.body {
  background-color: #f7f7f7;

}

#float-label {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  position: relative;
}

#float-label input {
  width: 100%;
  height: 60px;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: 1px solid #373D3B;
  border-radius: 5px;
  background: #f7f7f7b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 14px 16px 0 10px;
  outline: 0;
  border: 1px solid #373D3B;
  border-radius: 5px;
  background: #f7f7f7b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#float-label label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 20px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
#float-label:focus-within label {
  transform: translate(0, 12px) scale(0.75);
}

#float-label .Active {
  transform: translate(0, 12px) scale(0.75);
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.spinner div {
  width: 40px;
  height: 40px;
  border: 4px solid transparent;
  border-top-color: var(--cursor-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes openAnimation {
  from {
    width: 0;
  }

  to {
    width: 89%;
  }
}

.animated-line {
  animation: openAnimation 1s ease-out forwards;
}

.highlight {
  color: #ffffff;
  /* Change to the color you prefer */
  font-weight: bold;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);

}

.polaroid>img {
  max-width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  line-height: 2em;
}

.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(25%);
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}


/* Add this CSS to your stylesheet */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1.5);
  }
}

.zoom-in {
  animation: zoomIn 0.3s ease-in-out;
  transform: scale(1.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote-shadow {
  /* “a great script, a great script and a great script.” */

  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;

  text-align: center;

  color: #1C39BB;

  text-shadow: 0px 1px 3px #8ea1f4;

}

.fading-1 {
  background:
    linear-gradient(90deg, transparent, #373D3B, transparent) bottom /var(--d, 0) 2px no-repeat;
  transition: 0.5s;
}

.fading-1:hover {
  --d: 100%;
}

.fading-1-selected {
  background:
  linear-gradient(90deg, transparent, #373D3B, transparent) bottom /var(--d, 0) 2px no-repeat;
  --d: 100%;
}

.fading-2 {
  background:
    linear-gradient(90deg, transparent, #f7f7f7, transparent) bottom /var(--d, 0) 1px no-repeat;
  transition: 0.5s;
}

.fading-2:hover {
  --d: 100%;
}

.arrow-link {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  /* Add space for the arrow */
  text-decoration: none;

}

.arrow-link::after {
  content: '\2192';
  /* Unicode for right arrow */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  /* Adjust size as needed */
  transition: transform 0.2s;
}

.arrow-link:hover::after {
  transform: translateY(-50%) translateX(5px);
  /* Move arrow to the right on hover */
}

.film-container {
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  transform: translateY(100px);
}

.film-container.in-view {
  opacity: 1;
  transform: translateY(0);
}


/* Custom Swiper Arrow Styles */
.swiper-button-prev,
.swiper-button-next {
  color: #f7f7f7;
}

.swiper-button-prev ion-icon,
.swiper-button-next ion-icon {
  font-size: 24px;
  /* Adjust size if needed */
  color: #f7f7f7;
}

/* Custom Swiper Pagination Dots Styles */
.swiper-pagination-bullet {
  background-color: #f7f7f7 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f7f7f7 !important;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.dancing-script-normal {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-medium {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dancing-script-semibold {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dancing-script-bold {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-extrabold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.txtshd {
  text-shadow:
    -1px -1px 0 #00000035,
    1px -1px 0 #00000035,
    -1px 1px 0 #00000035,
    1px 1px 0 #00000035;
}

.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.garamond-400 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.garamond-500 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.garamond-600 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.garamond-700 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.garamond-800 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
}