@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: #fff9f3;

}

.quote-shadow {
  /* “a great script, a great script and a great script.” */

  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-size: 122px;
  line-height: 146px;
  text-align: center;

  color: #0330e5;

  text-shadow: 0px 1px 3px #000000;

}

/* src/components/FilmCredits.css */

@keyframes scrollCredits {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.credits {
  position: relative;
  height: 100vh;
  /* Adjust this height if needed */
  overflow: hidden;
  background: #fff9f3;
  color: #000;
  font-size: 1.5rem;
}

.credits-content {
  position: absolute;
  width: 100%;
  animation: scrollCredits 30s linear infinite;
  padding: 2rem;
}


.arrow-link {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  /* Add space for the arrow */
  text-decoration: none;
  color: #4b3200;
}

.arrow-link::after {
  content: '\2192';
  /* Unicode for right arrow */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  /* Adjust size as needed */
  transition: transform 0.2s;
}

.arrow-link:hover::after {
  transform: translateY(-50%) translateX(5px);
  /* Move arrow to the right on hover */
}

.film-container {
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0;
  transform: translateY(100px);
}

.film-container.in-view {
  opacity: 1;
  transform: translateY(0);
}


/* Custom Swiper Arrow Styles */
.swiper-button-prev,
.swiper-button-next {
  color: #f2ba20;
}

.swiper-button-prev ion-icon,
.swiper-button-next ion-icon {
  font-size: 24px;
  /* Adjust size if needed */
  color: #f2ba20;
}

/* Custom Swiper Pagination Dots Styles */
.swiper-pagination-bullet {
  background-color: #f2ba20 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f2ba20 !important;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.calligraffitti-regular {
  font-family: 'Calligraffitti', cursive;
  font-weight: 400;
}

.dancing-script-normal {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-medium {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dancing-script-semibold {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dancing-script-bold {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-extrabold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@font-face {
  font-family: 'Times New Roman';
  src: url('./assets/fonts/times-new-roman.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Bold';
  src: url('./assets/fonts/times-new-roman-bold.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Italic';
  src: url('./assets/fonts/times-new-roman-italic.ttf') format('truetype');
  /* Add other font formats if available */
}

@font-face {
  font-family: 'Times New Roman Bold Italic';
  src: url('./assets/fonts/times-new-roman-bold-italic.ttf') format('truetype');
  /* Add other font formats if available */
}

.timesNew {
  font-family: 'Times New Roman', serif;
}

/* Container */
.timesNew-bold {
  font-family: 'Times New Roman Bold', serif;
}

.timesNew-italic {
  font-family: 'Times New Roman Italic', serif;
  font-style: italic;
}

.timesNew-bold-italic {
  font-family: 'Times New Roman Bold Italic', serif;
  font-style: italic;
}

.txtshd {
  text-shadow:
    -1px -1px 0 #00000035,
    1px -1px 0 #00000035,
    -1px 1px 0 #00000035,
    1px 1px 0 #00000035;
}


.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oswald-200 {
  font-weight: 200;
}

.oswald-300 {
  font-weight: 300;
}

.oswald-400 {
  font-weight: 400;
}

.oswald-500 {
  font-weight: 500;
}

.oswald-600 {
  font-weight: 600;
}

.oswald-700 {
  font-weight: 700;
}

.garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.garamond-400 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.garamond-500 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.garamond-600 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

.garamond-700 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.garamond-800 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-font-100 {
  font-weight: 100;
}

.inter-font-200 {
  font-weight: 200;
}

.inter-font-300 {
  font-weight: 300;
}

.inter-font-400 {
  font-weight: 400;
}

.inter-font-500 {
  font-weight: 500;
}

.inter-font-600 {
  font-weight: 600;
}

.inter-font-700 {
  font-weight: 700;
}

.inter-font-800 {
  font-weight: 800;
}

.inter-font-900 {
  font-weight: 900;
}